<h2>This is Dashboard page</h2>
{{#if user}}
	<h2>User's name: --> {{user.name}}</h2>
{{/if}}

<button id='add-post-button'>Add post</button>
<dialog id='post-dialog'>
	<input id='post-title' type='text' name='title' placeholder='Title' />
	<textarea id='post-content' name='content' placeholder='Content'></textarea>
	<button id='create-post-button' type='submit'>Create</button>
</dialog>

<ul class='posts-ul'>
	{{#if posts}}
		{{#each posts as |post|}}
			<li class='posts-li'>
				<div class='post-header'>
					<h2>{{post.title}}</h2>
					<p>{{post.created_at}}</p>
				</div>
				<p>{{post.content}}</p>
			</li>
		{{/each}}
	{{/if}}
</ul>